@import 'tailwindcss';

@theme {
  /* ریست کردن کانفیگ ها */
  --color-*: initial;

  --color-white: oklch(1 0 0 / 1);
  --color-black: oklch(0 0 0 / 1);
  /* رنگ‌های اصلی (آبی) */
  --color-primary-50: rgb(230 244 251);
  --color-primary-75: rgb(150 212 240);
  --color-primary-100: rgb(107 194 234);
  --color-primary-200: rgb(43 167 224);
  --color-primary-300: oklch(0.64 0.15 239.76 / 1);
  --color-primary-400: rgb(0 104 153);
  --color-primary-500: rgb(0 91 133);

  /* رنگ‌های خنثی (سفید/سیاه) */
  --color-neutral-0: rgb(255 255 255);
  --color-neutral-10: rgb(245 245 245);
  --color-neutral-20: rgb(235 235 235);
  --color-neutral-30: rgb(222 222 222);
  --color-neutral-40: rgb(191 191 191);
  --color-neutral-60: rgb(176 176 176);
  --color-neutral-70: rgb(163 163 163);
  --color-neutral-80: rgb(148 148 148);
  --color-neutral-80b: rgb(133 133 133);

  /* رنگ‌های ثانویه (سیاه) */
  --color-black-100: rgb(117 117 117);
  --color-black-200: rgb(102 102 102);
  --color-black-300: rgb(87 87 87);
  --color-black-400: rgb(74 74 74);
  --color-black-500: rgb(59 59 59);
  --color-black-600: rgb(40 40 40);
  --color-black-700: rgb(28 28 28);
  --color-black-800: rgb(19 19 19);
  --color-black-900: rgb(0 0 0);

  --color-black-white-10: #fafafa;
  --color-black-white-50: oklch(0.8 0 0 / 1);
  --color-black-white-300: oklch(0.46 0 0 / 1);

  /* رنگ‌های بازخورد (نارنجی) */
  --color-secondary-50: oklch(0.96 0.02 42.58 / 1);
  --color-secondary-75: rgb(225 183 150);
  --color-secondary-100: rgb(225 155 107);
  --color-secondary-200: rgb(225 109 43);
  --color-secondary-300: rgb(225 79 0);
  --color-secondary-400: rgb(179 55 0);
  --color-secondary-500: rgb(156 48 0);

  /* رنگ سبز هم‌راه */
  --hamrah-green: oklch(0.67 0.23 142.87 / 1);

  /* اندازه‌های فونت سفارشی */
  --font-size-32px: 2rem; /* 32px */
  --font-size-64px: 4rem; /* 64px */

  --radius: 0.625rem;

  /* Base UI */
  --background: var(--neutral-0);
  --foreground: var(--black-900);
  --card: var(--neutral-0);
  --card-foreground: var(--black-900);
  --popover: var(--neutral-0);
  --popover-foreground: var(--black-900);

  /* Primary = Blue-500 */
  --primary: var(--color-primary-500);
  --primary-foreground: var(--color-white);

  /* Secondary = Orange-300 */
  --secondary: var(--secondary-300);
  --secondary-foreground: var(--color-white);

  /* Others */
  --muted: var(--neutral-20);
  --muted-foreground: var(--black-400);

  --accent: var(--secondary-50);
  --accent-foreground: var(--black-600);

  --destructive: rgb(156, 48, 0); /* orange-500 */
  --border: var(--neutral-30);
  --input: var(--neutral-20);
  --ring: var(--color-primary-200);

  /* Charts */
  --chart-1: oklch(0.64 0.14 239.22 / 1); /* blue-300 */
  --chart-2: oklch(0.66 0.16 46.49 / 1); /* orange-200 */
  --chart-3: oklch(0.67 0.23 142.87 / 1); /* hamrah-green */
  --chart-4: var(--color-primary-100);
  --chart-5: var(--secondary-100);

  /* Sidebar */
  --sidebar: var(--neutral-10);
  --sidebar-foreground: var(--black-900);
  --sidebar-primary: var(--color-primary-500);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--secondary-75);
  --sidebar-accent-foreground: var(--black-700);
  --sidebar-border: var(--neutral-30);
  --sidebar-ring: var(--color-primary-300);
}

@base {
  :root {
    --radius: 0.625rem;
    --color-white: oklch(1 0 0 / 1);
    --color-black: oklch(0 0 0 / 1);
    /* Base UI */
    --background: var(--neutral-0);
    --foreground: var(--black-900);
    --card: var(--neutral-0);
    --card-foreground: var(--black-900);
    --popover: var(--neutral-0);
    --popover-foreground: var(--black-900);

    /* Primary = Blue-500 */
    --primary: var(--color-primary-500);
    --primary-foreground: var(--color-white);

    /* Secondary = Orange-300 */
    --secondary: var(--secondary-300);
    --secondary-foreground: var(--color-white);

    /* Others */
    --muted: var(--neutral-20);
    --muted-foreground: var(--black-400);

    --accent: var(--secondary-50);
    --accent-foreground: var(--black-600);

    --destructive: rgb(156, 48, 0); /* orange-500 */
    --border: var(--neutral-30);
    --input: var(--neutral-20);
    --ring: var(--color-primary-200);

    /* Charts */
    --chart-1: oklch(0.64 0.14 239.22 / 1); /* blue-300 */
    --chart-2: oklch(0.66 0.16 46.49 / 1); /* orange-200 */
    --chart-3: oklch(0.67 0.23 142.87 / 1); /* hamrah-green */
    --chart-4: var(--color-primary-100);
    --chart-5: var(--secondary-100);

    /* Sidebar */
    --sidebar: var(--neutral-10);
    --sidebar-foreground: var(--black-900);
    --sidebar-primary: var(--color-primary-500);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--secondary-75);
    --sidebar-accent-foreground: var(--black-700);
    --sidebar-border: var(--neutral-30);
    --sidebar-ring: var(--color-primary-300);
  }

  .fade-in-to-right {
    animation: fadeInToRight var(--fade-in-speed, 0.8s) ease forwards
      var(--animation-delay, 0s);
  }

  .fade-in-to-left {
    animation: fadeInToLeft var(--fade-in-speed, 0.8s) ease forwards
      var(--animation-delay, 0s);
  }

  .fade-in-to-bottom {
    animation: fadeInToBottom var(--fade-in-speed, 0.8s) ease forwards
      var(--animation-delay, 0s);
  }

  .fade-in-to-top {
    animation: fadeInToTop var(--fade-in-speed, 0.8s) ease forwards
      var(--animation-delay, 0s);
  }

  .fade-in {
    animation: fadeIn var(--fade-in-speed, 0.8s) ease forwards
      var(--animation-delay, 0s);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      visibility: hidden;
    }

    to {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fadeInToRight {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateX(calc(var(--fade-transform-value) * -1));
    }

    to {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }

  @keyframes fadeInToBottom {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(calc(var(--fade-transform-value) * -1));
    }

    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes fadeInToTop {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(calc(var(--fade-transform-value)));
    }

    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes fadeInToLeft {
    from {
      opacity: 0;
      transform: translateX(var(--fade-transform-value));
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@utility text-32px {
  font-size: var(--font-size-32px);
}

@utility text-64px {
  font-size: var(--font-size-64px);
}

@utility text-primary-500 {
  color: var(--primary-500);
}
